<!-- Prices Section -->
<section class="site-section prices-section section-focus" id="sponsorships">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{{ site.pricing-title }}</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>{{ site.pricing-description }}</p>
      </div>

    </div>

    <!-- Pricing Tables Container -->
    <div class="row pricing-tables-container">
      <div class="pricing-tables-wrapper clearfix">

        <!-- Pricing Table -->
        <div class="col-md-3 col-md-push-0 col-sm-4 col-sm-push-0 col-xs-8 col-xs-push-2">
          <div class="pricing-table">

            <!-- Plan Head -->
            <div class="plan-head">
              <h3 class="plan-title">BRONZE</h3>
              <hr class="normal">
              <p class="plan-subtitle">From <span class="text-focus">{{ site.plan-bronze-price }}</span></p>
            </div>

            <!-- Plan Content -->
            <div class="plan-content">
              <h4 class="feature-title"><i class="pe-7s-check check"></i>{{ site.plan-bronze-offer-1-title }}</h4>
              <p class="feature-content">{{ site.plan-bronze-offer-1-info }}</p>
              <hr class="separator">
              <h4 class="feature-title"><i class="pe-7s-check check"></i>{{ site.plan-bronze-offer-2-title }}</h4>
              <p class="feature-content">{{ site.plan-bronze-offer-2-info }}</p>
              <hr class="separator">
              <h4 class="feature-title"><i class="pe-7s-check check"></i>{{ site.plan-bronze-offer-3-title }}</h4>
              <p class="feature-content">{{ site.plan-bronze-offer-3-info }}</p>
            </div>

            <!-- Plan Action -->
            <div class="plan-action">
              <a href="{{ site.plan-bronze-url }}" class="button">Get More Details</a>
            </div>

          </div>
        </div>

        <!-- Pricing Table -->
        <div class="col-md-3 col-md-push-0 col-sm-4 col-sm-push-0 col-xs-8 col-xs-push-2">
          <div class="pricing-table">

            <!-- Plan Head -->
            <div class="plan-head">
              <h3 class="plan-title">SILVER</h3>
              <hr class="normal">
              <p class="plan-subtitle">From <span class="text-focus">{{ site.plan-silver-price }}</span></p>
            </div>

            <!-- Plan Content -->
            <div class="plan-content">
              <h4 class="feature-title"><i class="pe-7s-check check"></i>{{ site.plan-silver-offer-1-title }}</h4>
              <p class="feature-content">{{ site.plan-silver-offer-1-info }}</p>
              <hr class="separator">
              <h4 class="feature-title"><i class="pe-7s-check check"></i>{{ site.plan-silver-offer-2-title }}</h4>
              <p class="feature-content">{{ site.plan-silver-offer-2-info }}</p>
              <hr class="separator">
              <h4 class="feature-title"><i class="pe-7s-check check"></i>{{ site.plan-silver-offer-3-title }}</h4>
              <p class="feature-content">{{ site.plan-silver-offer-3-info }}</p>
            </div>

            <!-- Plan Action -->
            <div class="plan-action">
              <a href="{{ site.plan-silver-url }}" class="button">Get More Details</a>
            </div>

          </div>
        </div>

        <!-- Pricing Table -->
        <div class="col-md-3 col-md-push-0 col-sm-4 col-sm-push-0 col-xs-8 col-xs-push-2">
          <div class="pricing-table">

            <!-- Plan Head -->
            <div class="plan-head">
              <h3 class="plan-title">GOLD</h3>
              <hr class="normal">
              <p class="plan-subtitle">From <span class="text-focus">{{ site.plan-gold-price }}</span></p>
            </div>

            <!-- Plan Content -->
            <div class="plan-content">
              <h4 class="feature-title"><i class="pe-7s-check check"></i>{{ site.plan-gold-offer-1-title }}</h4>
              <p class="feature-content">{{ site.plan-gold-offer-1-info }}</p>
              <hr class="separator">
              <h4 class="feature-title"><i class="pe-7s-check check"></i>{{ site.plan-gold-offer-2-title }}</h4>
              <p class="feature-content">{{ site.plan-gold-offer-2-info }}</p>
              <hr class="separator">
              <h4 class="feature-title"><i class="pe-7s-check check"></i>{{ site.plan-gold-offer-3-title }}</h4>
              <p class="feature-content">{{ site.plan-gold-offer-3-info }}</p>
              <hr class="separator">
              <h4 class="feature-title"><i class="pe-7s-check check"></i>{{ site.plan-gold-offer-4-title }}</h4>
              <p class="feature-content">{{ site.plan-gold-offer-4-info }}</p>
            </div>

            <!-- Plan Action -->
            <div class="plan-action">
              <a href="{{ site.plan-gold-url }}" class="button">Get More Details</a>
            </div>

          </div>
        </div>

        <!-- Pricing Table -->
        <div class="col-md-3 col-md-push-0 col-sm-4 col-sm-push-0 col-xs-8 col-xs-push-2">
          <div class="pricing-table">

            <!-- Plan Head -->
            <div class="plan-head">
              <h3 class="plan-title">PLATINUM</h3>
              <hr class="normal">
              <p class="plan-subtitle">From <span class="text-focus">{{ site.plan-platnum-price }}</span></p>
            </div>

            <!-- Plan Content -->
            <div class="plan-content">
              <h4 class="feature-title"><i class="pe-7s-check check"></i>{{ site.plan-platnum-offer-1-title }}</h4>
              <p class="feature-content">{{ site.plan-platnum-offer-1-info }}</p>
              <hr class="separator">
              <h4 class="feature-title"><i class="pe-7s-check check"></i>{{ site.plan-platnum-offer-2-title }}</h4>
              <p class="feature-content">{{ site.plan-platnum-offer-2-info }}</p>
              <hr class="separator">
              <h4 class="feature-title"><i class="pe-7s-check check"></i>{{ site.plan-platnum-offer-3-title }}</h4>
              <p class="feature-content">{{ site.plan-platnum-offer-3-info }}</p>
              <hr class="separator">
              <h4 class="feature-title"><i class="pe-7s-check check"></i>{{ site.plan-platnum-offer-4-title }}</h4>
              <p class="feature-content">{{ site.plan-platnum-offer-4-info }}</p>
              <hr class="separator">
              <h4 class="feature-title"><i class="pe-7s-check check"></i>{{ site.plan-platnum-offer-5-title }}</h4>
              <p class="feature-content">{{ site.plan-platnum-offer-5-info }}</p>
            </div>

            <!-- Plan Action -->
            <div class="plan-action">
              <a href="{{ site.plan-platnum-url }}" class="button">Get More Details</a>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</section>
